*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    background-color: #e0f2fe;
    min-height: 100vh;
    padding: 2rem;

}
.servico {
    background: #e0f2fe;
    color: black;
    padding: 3rem;
    margin-top: 2rem;
    border-radius: 16px;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    background-color: #ffffff;
}